:root {
  --accent: #f4623a;
}

@media print {
  .container {
    min-width: 992px !important;
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.hl {
  color: yellow;
}

.person {
  font-weight: 300 !important;
  margin-bottom: 0 !important;
  color: black;
}

.pic {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 50% !important;
  margin-bottom: 1rem !important;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .pic {
    box-sizing: content-box;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .navbar-nav {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .card {
    flex: 0 0 28%;
    max-width: 28%;
  }

  .col {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .inner1 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .inner2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

p.text, ul {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.row > div:first-child[p],
.row > div > p:first-child {
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem !important;
}

.card {
  position: relative;
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: center !important;
  display: block !important;
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}

hr {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: var(--accent);
  margin-top: 1.5rem !important;
}

ul.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  margin-left: auto !important;
}

nav {
  background-color: white;
  color: black;
}

section {
  background-color: #f8f9fa !important;
  padding: 4rem 0;
}

.col {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: justify !important;
}

.container .col {
  /* Avoid double padding */
  padding-right: unset;
  padding-left: unset;
}

h2 {
  text-align: center !important;
  margin-top: 0 !important;
}

.outer {
  height: 100% !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.inner1 {
  position: relative;
  width: 100%;
  align-self: flex-end;
}

.inner2 {
  position: relative;
  width: 100%;
  align-self: baseline;
  color: white;
  letter-spacing: -0.1px;
}
